* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  background-color: #0f0d0d;
}

.page1 {
  min-height: 100vh;
  width: 100vw;
}

#nav {
  height: 55px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

#nav img {
  height: 25px;
}

#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 2.8px;
}

#circle {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: purple;
}

#nav h4 {
  font-size: 16px;
  font-weight: 100;
  text-transform: capitalize;
}

#nav h4:nth-child(1) {
  border-bottom: 1px solid #fff;
}

.page1 > h1 {
  font-size: 5vw;
  font-family: PP Mori;
  font-weight: 300;
  margin-top: 10vw;
  margin-left: 8vw;
  letter-spacing: 3px;
}

.page1 > h2 {
  font-size: 5vw;
  font-family: PP Mori;
  font-weight: 300;
  margin-left: 28vw;
  letter-spacing: 3px;
}

.page1 video {
  width: 40%;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 8vw;
}

.page2 {
  min-height: 80vh;
  width: 100vw;
  padding: 100px 0;
  padding: 5vw;
  border-bottom: 2px solid #818181;
}

.page2 h1 {
  font-size: 5vw;
  font-weight: 500;
  font-family: PP Mori;
  color: #111;
}

.page2-container {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page2-left {
  width: 35%;
}

.page2-right {
  width: 24%;
}

.page2-left h2 {
  font-size: 3.5vw;
  font-weight: 300;
  color: #111;
  line-height: 4vw;
}

.page2-right p {
  font-size: 1.5vw;
  color: #111;
}

.page2-right button {
  width: 100%;
  border-radius: 50px;
  border: none;
  padding: 4px 0;
  background-color: #edbfff;
  color: #111;
  margin-top: 20px;
}

.page3{
  min-height: 100vh;
  width: 100vw;
}